

.ForgotPasswordPageTextLeft{
    width: 100%;
    text-align: left;
    padding-bottom: -350px;
    margin-bottom: 10px;
}

.ForgotPasswordContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 7%;
    margin-top: 2%;
}

.ForgotPasswordInput{
    width: 50%;
    height: 30px;
    border-style: solid;
    border-color: #ffc6af;
    margin: 0 auto;
    height: 50px;
    color: #ffc6af;
    padding-left: 25px;
    box-sizing: border-box;
    margin-right: 100%;
  }

  .RedText{
      color: red;
  }

  .ForgotPasswordButtonGroup{
      display: flex;
      margin-top: 3%;
  }

  .ForgotPasswordButtonStyle{
      background-color: white;
      width:15%;
      font-size:26px;
      text-align: left;
      color:  #ffc6af;
      border: 3px solid #ffc6af;
      border-radius: 8px;
  }