.Standard-button {
  background-color: #ffc6af;
  border: #ffc6af;
  border-radius: 7px;
  color: white;
  font-family: Comfortaa;
}

.HeaderStyle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  #ffc6af;
  height: 80px;
  align-items: center;
}

.HeaderElementStyleLeft {
  display: flex;
  justify-content: space-between;
  width: 21%;
  align-items: center;
}

.HeaderElementStyleRight {
  display: flex;
  justify-content: space-between;
  width: 24%;
  align-items: center;
}

.HeadeTextStyle {
  text-decoration: none;
  font-family: Comfortaa;
  color: black;
  font-weight: bold;
  font-size: 250%;
}

.standard-font-style {
  font-family: Comfortaa;
  font-size: 25m;
}

.Standard-button {
  background-color: #ffc6af;
  border: #ffc6af;
  border-radius: 7px;
  color: white;
  font-family: Comfortaa;
}

.SearchBarContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.SearchBarStyle{
  width:70%;
  height: 30px;
  border-style: solid;
  border-color: #ffc6af;
}

.BackGroundColourCompanyCard{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: white;
}

.RightCompanyCard{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: -3px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 0.5vw;
}

