.Standard-font-style > th > a,
.Standard-font-style > th > th > a {
  display: flex;
  text-decoration: none;
  font-family: Comfortaa;
  color: black;
  font-size: 250%;
  margin-top: -35px;
}

.Standard-button {
  background-color: #ffc6af;
  border: #ffc6af;
  border-radius: 7px;
  color: white;
  font-family: Comfortaa;
}

.HeaderStyle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid red;
  height: 80px;
  align-items: center;
}

.HeaderElementStyleLeft {
  display: flex;
  justify-content: space-between;
  width: 21%;
  align-items: center;
}

.HeaderElementStyleRight {
  display: flex;
  justify-content: space-between;
  width: 24%;
  align-items: center;
}

.HeadeTextStyle {
  text-decoration: none;
  font-family: Comfortaa;
  color: black;
  font-weight: bold;
  font-size: 250%;
}

.standard-font-style {
  font-family: Comfortaa;
  font-size: 25m;
}

.Standard-button {
  background-color: #ffc6af;
  border: #ffc6af;
  border-radius: 7px;
  color: white;
  font-family: Comfortaa;
}
