
.triangle-right {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid #555;
	border-bottom: 15px solid transparent;
}

.FindJobContainer{
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.FindJobItemLeft{ 
	display: flex;
	flex-direction: column; 
	background-color: #FEE2D7;
	width: 25%;
}

.FindJobItemRight{ 
	display: flex;
	flex-direction: column; 
	width: 70%;
}

.DropBoxContainer{
	display: flex;
    flex-direction: row;
    justify-content: felx-start;
	height: 60px;
	margin-left: 15px;
}

.CompanyCardFindJobPageContainer{
	width: 250px;
	height: 10px;
	margin: 80px 0;
	margin-left: 3%;
}

.ScrollerStyleLeft{
	display: flex;
	flex-wrap: wrap;
	scrollbar-width: thin;
	height: 100%;
	width: 100%;
	overflow: auto;
	border: 1px solid #ccc;
	font: 16px/26px Georgia, Garamond, Serif;
}

.ScrollerStyRight{
	height: 100%;
	width: 100%;
	overflow: auto;
	border: 1px solid #ccc;
	font: 16px/26px Georgia, Garamond, Serif;
}

.SearchBarContainerMain{
	border-Bottom: 10px solid #ffc6af;
	display: flex;
}


.MatchJobContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-basis: 100%;
	flex-wrap: wrap;
	height: 500px;
	width: 45%;
	margin-left: 25%;
	overflow: auto;
	background-color: #ffc6af;
}

.UserPageHeaderTextStyle{
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-family: Confortaa;
}

.UserPageContainer{
	display: flex;
	flex-direction: column;
	background-color: #FFD8C8;
	width: 60%;
	margin-left: 19%;
	padding: 10px;
	border-radius: 10px;
}

.UserPageButtonContainer{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.MainPageTopContainer{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.MainPageLink{
	margin-top: 10%;
}

.MainPageRightItem{
	margin-top: 10%;
}


.MainPageButton{
	height: 40px;
	width: 300px;
	border: 3px solid #FFC6AF;
	background-color: white;
	text-align: left;
	font-size: 20px;
}

.MainPageButtonLeft{
	margin-left: 60%;
	color: #FFC6AF;
}

.CompanyCardFindJobPageContainer2{
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: #FFC6AF;
}

.MatchJobContainer{
	display: flex;
	flex-wrap: wrap;
	scrollbar-width: thin;
	height: 1000px;
	width: 500px;
	margin-left: 30%;
	overflow: auto;
	border: 1px solid #ccc;
	font: 16px/26px Georgia, Garamond, Serif;
}
